<div class="col-xs-12 card">
  <div class="card-header">
    <p class="text-center text-uppercase">
      <span class="font-weight-bold">Complexos Eólicos</span>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let complexoEolico of complexosEolicos">
      <div class="d-flex justify-content-between">
        {{complexoEolico.nome}}
        <span>
          <i class="fas fa-edit" data-toggle="modal" data-target="#complexoModal" (click)="callbackBotaoEditarComplexo(complexoEolico.id)"></i>
          <i class="fas fa-times-circle" (click)="callbackBotaoDeletarComplexo(complexoEolico.id)"></i>
        </span>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <button type="button" class="btn btn-primary btn-block"  (click)="callbackBotaoEditarComplexo()">CADASTRAR</button>
  </div>
</div>

<app-complexo-form #modalComplexoEolico [complexoEolico]="complexoEolico" [isUpdate]="isUpdate"></app-complexo-form>
