<!-- Modal -->
<div  bsModal #modalComplexoEolico="bs-modal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <modal-header [title]="complexoEolico.id ? 'Atualizar' : 'Cadastrar'" (clickCloseButton)="closeModal(modalComplexoEolico)"></modal-header>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="persistirEntidade(form)">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" maxlength="30" name="nome" semEspacoBranco class="form-control" [(ngModel)]="complexoEolico.nome" [ngClass]="{'is-invalid': form.submitted && form.controls['nome'].invalid}" required/>
            <span *ngIf="form.submitted &&  form.controls['nome'].invalid" class="text-danger">*Preencha o nome corretamente</span>
          </div>
          <div class="form-group">
            <label for="identificador">Identificador:</label>
            <input type="text" maxlength="30" semEspacoBranco name="identificador" class="form-control"
                   [(ngModel)]="complexoEolico.identificador"  [ngClass]="{'is-invalid': form.submitted && form.controls['identificador'].invalid}" required/>
            <span *ngIf="form.submitted &&  form.controls['identificador'].invalid" class="text-danger">*Preencha o identificador corretamente</span>
          </div>
          <div class="form-group">
            <label for="uf">UF:</label>
            <select selected="selected" name="uf" class="form-control" [(ngModel)]="complexoEolico.uf" [ngClass]="{'is-invalid': form.submitted && form.controls['uf'].invalid}"  required>
              <option *ngFor="let estado of estados">{{estado}}</option>
            </select>
            <span *ngIf="form.submitted &&  form.controls['uf'].invalid" class="text-danger">*Preencha a uf</span>
          </div>
          <modal-footer [formValid]="true" [isUpdate]="isUpdate" (clickCloseButton)="closeModal(modalComplexoEolico)"></modal-footer>
        </form>
      </div>
    </div>
  </div>
</div>
