<!-- Modal -->
<div  bsModal #modalComplexoEolico="bs-modal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <modal-header [title]="complexoEolico.id ? 'Atualizar' : 'Cadastrar'" (clickCloseButton)="closeModal(modalComplexoEolico)"></modal-header>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="persistirEntidade(form)">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text"  name="nome "class="form-control" [ngClass]="{'is-invalid': form.submitted && form.controls['nome'].invalid}"
                   [(ngModel)]="complexoEolico.nome" required
            />
          </div>
          <div class="form-group">
            <label for="identificador">Identificador:</label>
            <input type="text" name="identificador" class="form-control"[ngClass]="{'is-invalid': form.submitted && form.controls['identificador'].invalid}"
                   [(ngModel)]="complexoEolico.identificador" required/>
          </div>
          <div class="form-group">
            <label for="uf">UF:</label>
            <select  name="uf" class="form-control"[ngClass]="{'is-invalid': form.submitted && form.controls['uf'].invalid}" [(ngModel)]="complexoEolico.uf" required>
              <option *ngFor="let estado of estados">{{estado}}</option>
            </select>
          </div>        
          <modal-footer [formValid]="form.valid" [isUpdate]="isUpdate" (clickCloseButton)="closeModal(modalComplexoEolico)"></modal-footer>
        </form>
      </div>
    </div>
  </div>
</div>
