<div  bsModal #modalParqueEolico="bs-modal" class="modal fade" tabindex="-1"
      role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <modal-header [title]="parqueEolico.id ? 'Atualizar' : 'Cadastrar'" (clickCloseButton)="closeModal(modalParqueEolico)"></modal-header>
      <div class="modal-body">       
        <form #form="ngForm" (ngSubmit)="persistirEntidade(form)">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" semEspacoBranco name="nome "class="form-control" [(ngModel)]="parqueEolico.nome" required/>
          </div>
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text"  onlyNumber name="latitude "class="form-control" [(ngModel)]="parqueEolico.latitude"/>
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" onlyNumber name="longitude "class="form-control" [(ngModel)]="parqueEolico.longitude" />
          </div>
          <div class="form-group">
            <label for="potenciaInstalada">Potencia Instalada</label>
            <input type="text" onlyNumber semEspacoBranco name="potenciaInstalada "class="form-control"[(ngModel)]="parqueEolico.potenciaInstalada" required />
          </div>
          <div class="form-group">
            <label for="complexoEolico">Complexo Eólico</label>
            <select  [compareWith]="compareInSelect"  class="form-control" name="complexoEolico" [(ngModel)]="parqueEolico.complexoEolico" required>
              <option *ngFor="let complexo of complexosEolicos" [ngValue]="complexo" >{{complexo.nome}}</option>
            </select>
          </div>
          <modal-footer [formValid]="form.valid" [isUpdate]="isUpdate" (clickCloseButton)="closeModal(modalParqueEolico)"></modal-footer>
        </form>
      </div>
    </div>
  </div>
</div>
