<div class="col-xs-12 card">
  <div class="card-header">
    <p class="text-center text-uppercase">
      <span class="font-weight-bold">Parques Eólicos</span>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let parqueEolico of parquesEolicos">
      <div class="d-flex justify-content-between ">
        {{parqueEolico.nome}}
        <span>
          <i class="fas fa-edit" data-toggle="modal" data-target="#parqueModal" (click)="callbackBotaoEditarparque(parqueEolico.id)"></i>
          <i class="fas fa-times-circle" (click)="callbackBotaoDeletarparque(parqueEolico.id)"></i>
        </span>
      </div>

    </li>
  </ul>
  <div class="card-footer">
    <button type="button" [disabled]="complexosEolicos.length == 0" class="btn btn-primary btn-block" data-toggle="modal" data-target="#parqueModal"
      (click)="callbackBotaoEditarparque()">CADASTRAR</button>
  </div>
</div>

<app-parque-form  #modalParqueEolico [parqueEolico]="parqueEolico" [complexosEolicos]="complexosEolicos" [isUpdate]="isUpdate"></app-parque-form>
