<div bsModal #modalAerogerador="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <modal-header [title]="aerogerador.id ? 'Atualizar' : 'Cadastrar'" (clickCloseButton)="closeModal(modalAerogerador)"></modal-header>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="persistirEntidade(form)">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" semEspacoBranco name="nome" class="form-control" [(ngModel)]="aerogerador.nome" required/>
          </div>
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" semEspacoBranco name="latitude" class="form-control" [(ngModel)]="aerogerador.latitude" required />
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" semEspacoBranco name="longitude" class="form-control"  [(ngModel)]="aerogerador.longitude" required />
          </div>
          <div class="form-group">
            <label for="altura_torre">Altura da torre</label>
            <input type="text" semEspacoBranco name="alturaTorre" class="form-control"  [(ngModel)]="aerogerador.alturaTorre" required />
          </div>
          <div class="form-group">
            <label for="diametro_varredura">Diametro de varredura</label>
            <input type="text" semEspacoBranco name="diametroVarredura" class="form-control"  [(ngModel)]="aerogerador.diametroVarredura" required />
          </div>
          <div class="form-group">
            <label for="modelo">Modelo</label>
            <input type="text" semEspacoBranco name="modelo" class="form-control"  [(ngModel)]="aerogerador.modelo" required />
          </div>
          <div class="form-group">
            <label for="parquesEolico">Parque Eólico</label>
            <select selected="selected" class="form-control"[ngClass]="{'is-invalid': form.submitted && form.controls['parqueEolico'].invalid}" name="parqueEolico"  [(ngModel)]="aerogerador.parqueEolico" required >
              <option *ngFor="let parque of parquesEolicos" [ngValue]="parque">{{parque.nome}}</option>
            </select>
          </div>
          <modal-footer [formValid]="form.valid" [isUpdate]="isUpdate" (clickCloseButton)="closeModal(modalAerogerador)"></modal-footer>
        </form>
      </div>
    </div>
  </div>
</div>
